UserParameter=elastic.cluster.health,curl -s 127.0.0.1:9200/_cluster/health
UserParameter=elastic.nodes.stats,curl -s 127.0.0.1:9200/_nodes/stats
UserParameter=elasticsearch.service.status[*],systemctl is-active --quiet '$1' && echo 1 || echo 0
