#template_db_mysql.conf created by Zabbix for "Template DB MySQL" and Zabbix 4.2
##Сперва нужно добавить юзера для zabbix в mysql:
##CREATE USER 'zbx_monitor'@'%' IDENTIFIED BY '<password>';
##GRANT USAGE,REPLICATION CLIENT,PROCESS,SHOW DATABASES,SHOW VIEW ON *.* TO 'zbx_monitor'@'%';
##FLUSH PRIVILEGES;
##Нужно создат отдельный .conf для юзера zbx_monitor - /root/.zabbix.my.cnf
##The file must have three strings:
##[client]
##user=zbx_monitor
##password=<password>
##
UserParameter=mysql.ping[*], mysqladmin -h"$1" -P"$2" ping
UserParameter=mysql.get_status_variables[*], mysql  --defaults-extra-file='{{ zabbix_agent_scripts }}/.zabbix.my.cnf' -h"$1" -P"$2" -sNX -e "show global status"
UserParameter=mysql.version[*], mysqladmin -s -h"$1" -P"$2" version
UserParameter=mysql.db.discovery[*], mysql --defaults-extra-file='{{ zabbix_agent_scripts }}/.zabbix.my.cnf' -h"$1" -P"$2" -sN -e "show databases"
UserParameter=mysql.dbsize[*], mysql --defaults-extra-file='{{ zabbix_agent_scripts }}/.zabbix.my.cnf' -h"$1" -P"$2" -sN -e "SELECT SUM(DATA_LENGTH + INDEX_LENGTH) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='$3'"
UserParameter=mysql.replication.discovery[*], mysql --defaults-extra-file='{{ zabbix_agent_scripts }}/.zabbix.my.cnf' -h"$1" -P"$2" -sNX -e "show slave status"
UserParameter=mysql.slave_status[*], mysql --defaults-extra-file='{{ zabbix_agent_scripts }}/.zabbix.my.cnf' -h"$1" -P"$2" -sNX -e "show slave status"
UserParameter=mysql.crashed_tables[*], for i in $(mysql --defaults-extra-file='{{ zabbix_agent_scripts }}/.zabbix.my.cnf' -NBe "show databases");do mysql --defaults-extra-file='/root/.zabbix.my.cnf' -e "show table status from \`$i\` where comment like '%crash%';";done | wc -l
